$mobile-small-width: 360px;
$mobile-width: 480px;
$tablet-width: 768px;
$tablet-landscape-width: 800px;
$desktop-width: 1200px;
$desktop-large-width: 1680px;

@mixin mobile-small {
	@media (min-width: #{$mobile-small-width}) {
		@content;
	}
}

@mixin mobile {
	@media (min-width: #{$mobile-width}) {
		@content;
	}
}

@mixin mobile-only {
	@media (max-width: #{$mobile-width}) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: #{$tablet-width}) {
		@content;
	}
}

@mixin tablet-only {
	@media (min-width: #{$tablet-width}) and (max-width: #{$tablet-landscape-width}) {
		@content;
	}
}

@mixin tablet-landscape {
	@media (min-width: #{$tablet-landscape-width}) and (orientation: landscape) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: #{$desktop-width}) {
		@content;
	}
}

@mixin desktop-large {
	@media (min-width: #{$desktop-large-width}) {
		@content;
	}
}

@mixin landscape {
	@media (orientation: landscape) {
		@content;
	}
}

@mixin no-touch {
	@media (pointer: fine) {
		@content;
	}
}

@mixin gradient-overlay {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 80%;
		bottom: 0;
		background: rgba(81, 86, 150,0.4);
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(81, 86, 150,0)), to(rgba(34,36,64,1)));
		background: -webkit-linear-gradient(top, rgba(81, 86, 150,0), rgba(34,36,64,1));
		background: -moz-linear-gradient(top, rgba(81, 86, 150,0), rgba(34,36,64,1));
		background: -ms-linear-gradient(top, rgba(81, 86, 150,0), rgba(34,36,64,1));
		background: -o-linear-gradient(top, rgba(81, 86, 150,0), rgba(34,36,64,1));
		z-index: 1;
	}
}

@mixin overlay-gradient-premium {
	position: relative;
	
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		height: 80%;
		bottom: 0;
		background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(3, 123, 201, 0.25)), to(rgba(221, 13, 87, 0.4)));
		background: -webkit-linear-gradient(top, rgba(3, 123, 201, 0), rgba(3, 123, 201, 0.25), rgba(221, 13, 87, 0.4));
		background: -moz-linear-gradient(top, rgba(3, 123, 201, 0), rgba(3, 123, 201, 0.25), rgba(221, 13, 87, 0.4));
		background: -ms-linear-gradient(top, rgba(3, 123, 201, 0), rgba(3, 123, 201, 0.25), rgba(221, 13, 87, 0.4));
		background: -o-linear-gradient(top, rgba(3, 123, 201, 0), rgba(3, 123, 201, 0.25), rgba(221, 13, 87, 0.4));
		z-index: 1;
	}
}

@mixin text-gradient-premium {
	color: $color-premium-secondary;
	background: $color-premium;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}

@mixin icon-premium-primary {
	.fa {
		-webkit-background-clip: none;
		-webkit-text-fill-color: $color-premium-primary;
	}
}

@mixin icon-premium-secondary {
	.fa {
		-webkit-background-clip: none;
		-webkit-text-fill-color: $color-premium-secondary;
	}
}

@mixin icon-white {
	.fa {
		-webkit-background-clip: none;
		-webkit-text-fill-color: $color-white;
	}
}

@mixin round-border {
	border-radius: 0.25rem;
	overflow: hidden;
}

@mixin circle-border {
	border-radius: $percent-1of2;
	overflow: hidden;
}

@mixin flex {
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}

@mixin flex-flow($values: (row nowrap)) {
	-webkit-flex-flow: $values;
	-ms-flex-flow: $values;
	flex-flow: $values;
}

@mixin flex-grow($int: 1) {
	-webkit-box-flex: $int;
	-moz-box-flex: $int;
	-webkit-flex-grow: $int;
	-ms-flex: $int;
	flex-grow: $int;
}

@mixin flex-shrink($int: 0) {
	-webkit-flex-shrink: $int;
	-moz-flex-shrink: $int;
	-ms-flex: $int;
	flex-shrink: $int;
}

@mixin order($int: 0) {
	-webkit-box-ordinal-group: $int + 1;
	-moz-box-ordinal-group: $int + 1;
	-webkit-order: $int;
	-ms-flex-order: $int;
	order: $int;
}

@mixin justify-content($value: flex-start) {
	@if $value == flex-start {
		-webkit-box-pack: start;
		-moz-box-pack: start;
		-ms-flex-pack: start;
	} @else if $value == flex-end {
		-webkit-box-pack: end;
		-moz-box-pack: end;
		-ms-flex-pack: end;
	} @else if $value == space-between {
		-webkit-box-pack: justify;
		-moz-box-pack: justify;
		-ms-flex-pack: justify;
	} @else if $value == space-around {
		-ms-flex-pack: distribute;
	} @else {
		-webkit-box-pack: $value;
		-moz-box-pack: $value;
		-ms-flex-pack: $value;
	}
	-webkit-justify-content: $value;
	justify-content: $value;
}

@mixin align-items($value: stretch) {
	@if $value == flex-start {
		-webkit-box-align: start;
		-moz-box-align: start;
		-ms-flex-align: start;
	} @else if $value == flex-end {
		-webkit-box-align: end;
		-moz-box-align: end;
		-ms-flex-align: end;
	} @else {
		-webkit-box-align: $value;
		-moz-box-align: $value;
		-ms-flex-align: $value;
	}
	-webkit-align-items: $value;
	align-items: $value;
}

@mixin align-self($value: auto) {
	-webkit-align-self: $value;
	@if $value == flex-start {
		-ms-flex-item-align: start;
	} @else if $value == flex-end {
		-ms-flex-item-align: end;
	} @else {
		-ms-flex-item-align: $value;
	}
	align-self: $value;
}

@mixin font-awesome {
	font-family: "Font Awesome";
	display: inline-block;
}

@mixin shadow-none {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
}

@mixin shadow-low {
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

@mixin shadow-medium {
	-webkit-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	-moz-box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

@mixin shadow-high {
	-webkit-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	-moz-box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

@mixin use-gpu {
	-webkit-transform: translate3d(0, 0, 0);
	-moz-transform: translate3d(0, 0, 0);
	-ms-transform: translate3d(0, 0, 0);
	transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	-ms-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-perspective: 1000;
	-moz-perspective: 1000;
	-ms-perspective: 1000;
	perspective: 1000;
}

@mixin leave-gpu {
	-webkit-transform: inherit;
	-moz-transform: inherit;
	-ms-transform: inherit;
	transform: inherit;
	-webkit-backface-visibility: inherit;
	-moz-backface-visibility: inherit;
	-ms-backface-visibility: inherit;
	backface-visibility: inherit;
	-webkit-perspective: inherit;
	-moz-perspective: inherit;
	-ms-perspective: inherit;
	perspective: inherit;
}