* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	font-size: 95%;
}

body {
	padding: 0;
	margin: 0;
	color: $color-black;
	word-break: break-word;
}

img {
	max-width: 100%;
	height: auto;
}

p {
	color: $color-black;
}

::-webkit-input-placeholder {
	color: $color-black;
	opacity: .4;
}
:-ms-input-placeholder {
	color: $color-black;
	opacity: .4;
}
::-moz-placeholder {
	color: $color-black;
	opacity: .4;
}
:-moz-placeholder {
	color: $color-black;
	opacity: .4;
}

.ui-resizable-e {
	right: 0;

	&:hover,
	&:active,
	&:focus {
		background: rgba(0,0,0,.2);
	}
}

table {
    max-width: 100%;
    border-collapse: collapse;
    border-spacing: 0;
}