body,
button {
	font-family: $font-opensans;
	font-size: 1em;
	line-height: 1.35;
}

h1 {
	font-size: 2.5em;
	font-weight: bold;
	margin: 0 0 1em;
}

h2 {
	font-size: 2.1em;
	font-weight: bold;
	margin: 0 0 1em;
	text-align: left;
	color: $color-secondary;
}

h3 {
	font-size: 1.25em;
	font-weight: bold;
	line-height: 1.25;
	margin: 0 0 1em;

	@include tablet {
		font-size: 1.4em;
	}
}

p {
	font-family: $font-opensans;
	line-height: 1.85;
	margin: 0 0 2em;
	font-size: 1em;
	font-weight: normal;

    @include tablet {
        font-size: 1.05em;
    }

	a {
		font-weight: 500;
	}
}

.p--compact {
    font-size: 0.9em;
}

a {
	color: $color-secondary;
	
	&:hover,
	&:focus,
	&:active {
		color: $color-secondary-dark;
	}
}

input {
	font-family: $font-opensans;
}

.text--premium {
	color: $color-premium-secondary !important;
	background: $color-premium !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;

	.fa {
		-webkit-background-clip: none !important;
		-webkit-text-fill-color: $color-premium-primary !important;
	}
}

.text--partner {
	color: $color-partner !important;
}

.text--event {
	color: $color-event !important;
}

.text--center {
	text-align: center;
}

@charset 'UTF-8';
@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Book.eot');
    src: url('../fonts/Gotham-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Book.woff2') format('woff2'),
         url('../fonts/Gotham-Book.woff') format('woff'),
         url('../fonts/Gotham-Book.ttf') format('truetype'),
         url('../fonts/Gotham-Book.svg#Gotham-Book') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-BookItalic.eot');
    src: url('../fonts/Gotham-BookItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-BookItalic.woff2') format('woff2'),
         url('../fonts/Gotham-BookItalic.woff') format('woff'),
         url('../fonts/Gotham-BookItalic.ttf') format('truetype'),
         url('../fonts/Gotham-BookItalic.svg#Gotham-BookItalic') format('svg');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Medium.eot');
    src: url('../fonts/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Medium.woff2') format('woff2'),
         url('../fonts/Gotham-Medium.woff') format('woff'),
         url('../fonts/Gotham-Medium.ttf') format('truetype'),
         url('../fonts/Gotham-Medium.svg#Gotham-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-MediumItalic.eot');
    src: url('../fonts/Gotham-MediumItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-MediumItalic.woff2') format('woff2'),
         url('../fonts/Gotham-MediumItalic.woff') format('woff'),
         url('../fonts/Gotham-MediumItalic.ttf') format('truetype'),
         url('../fonts/Gotham-MediumItalic.svg#Gotham-MediumItalic') format('svg');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-Bold.eot');
    src: url('../fonts/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-Bold.woff2') format('woff2'),
         url('../fonts/Gotham-Bold.woff') format('woff'),
         url('../fonts/Gotham-Bold.ttf') format('truetype'),
         url('../fonts/Gotham-Bold.svg#Gotham-Bold') format('svg');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: Gotham;
    src: url('../fonts/Gotham-BoldItalic.eot');
    src: url('../fonts/Gotham-BoldItalic.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Gotham-BoldItalic.woff2') format('woff2'),
         url('../fonts/Gotham-BoldItalic.woff') format('woff'),
         url('../fonts/Gotham-BoldItalic.ttf') format('truetype'),
         url('../fonts/Gotham-BoldItalic.svg#Gotham-BoldItalic') format('svg');
    font-weight: 700;
    font-style: italic;
}

@font-face {
	font-family: Kepler;
    src: url('../fonts/Kepler-Book.eot');
    src: url('../fonts/Kepler-Book.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kepler-Book.woff2') format('woff2'),
         url('../fonts/Kepler-Book.woff') format('woff'),
         url('../fonts/Kepler-Book.ttf') format('truetype'),
         url('../fonts/Kepler-Book.svg#KeplerStd-Regular') format('svg');
	font-weight: 400;
}