$color-primary:            #2E5266;
$color-primary-light:      #9FB1BC;
$color-primary-dark:       #224456;
$color-secondary:          #DD6E42;
$color-secondary-light:    #FF7E77;
$color-secondary-dark:     #ce4f1c;
$color-tertiary:           #68594E;

$color-black:              #231f20;
$color-black-opage:        rgba(0,0,0,.2);
$color-white:              #fefefe;
$color-white-opage:        rgba(255,255,255,.2);
$color-grey:               #e5e2de;
$color-grey-light:         #f2f0f0;
$color-grey-dark:          #777777;

$color-newsletter:         #007AC9;
$color-event:              #815552;
$color-partner:            #007AC9;
$color-partner-light:      #deedf7;
$color-premium-primary:    #007AC9;
$color-premium-secondary:  #DC0451;
$color-premium:            linear-gradient(to bottom right, $color-premium-primary, $color-premium-secondary);

$color-whatsapp:           #069200;
$color-facebook:           #3B5999;
$color-linkedin:           #007BB6;
$color-twitter:            #01AAEB;
$color-mail:               #CB2028;

$font-opensans:   'Open Sans', Arial, Helvetica, sans-serif;
$font-gotham:     'Gotham', 'Century Gothic', Arial, Helvetica, sans-serif;
$font-kepler:     'Kepler', Cambria, Georgia, Times New Roman, serif;

$percent-1of3:    calc(100% / 3);
$percent-2of3:    calc(100% / 3 * 2);
$percent-1of2:    50%;
$percent-1of4:    25%;
$percent-1of5:    20%;
$percent-1of6:    calc(100% / 6);
$percent-1of7:    calc(100% / 7);
$percent-2of7:    calc(100% / 7 * 2);
$percent-3of7:    calc(100% / 7 * 3);
$percent-4of7:    calc(100% / 7 * 4);
$percent-5of7:    calc(100% / 7 * 5);
$percent-6of7:    calc(100% / 7 * 6);