.button {
	background: transparent;
	border: solid 2px $color-primary;
	border-radius: 0.3em;
	color: $color-primary;
	cursor: pointer;
	display: inline-block; 
	font-size: .9em;
	font-weight: bold;
	letter-spacing: 0.01em;
	line-height: 1;
	outline: 0;
	padding: 1em 1em 1.1em;
	text-decoration: none;
	text-transform: uppercase;
	vertical-align: middle;

	@include tablet {
		font-size: .8em;
	}

	&:focus {
		outline: 0;
	}

	&:hover {
		border-color: $color-primary;
		background: $color-primary;
		color: $color-white;
	}

	&:active {
		border-color: $color-primary-dark;
		background: $color-primary-dark;
		outline: 0;
	}
	
	.fa {
		margin-right: 0.5em;
	}
}

.button--solid {
	background: $color-primary;
	color: $color-white;
}

.button--modal {
    text-transform: uppercase;
    background: transparent;
    border: 0;
    outline: 0;
    margin-left: 1.5em;
    color: $color-secondary;
    font-weight: bold;
    cursor: pointer;
}

.button--secondary {
	color: $color-secondary;
	border: solid 2px $color-secondary;

	&:hover {
		border-color: $color-secondary;
		background: $color-secondary;
	}

	&:active,
	&:focus {
		border-color: $color-secondary-dark;
		background: $color-secondary-dark;
	}
}

.button--premium-primary {
	color: $color-premium-primary;
	border: solid 2px $color-premium-primary;

	&:hover {
		color: $color-white;
		border-color: $color-premium-primary;
		background: $color-premium-primary;
	}

	&:active,
	&:focus {
		color: $color-white;
		border-color: $color-premium-primary;
		background: $color-premium-primary;
	}
}

.button--premium-secondary {
	color: $color-premium-secondary;
	border: solid 2px $color-premium-secondary;

	&:hover {
		color: $color-white;
		border-color: $color-premium-secondary;
		background: $color-premium-secondary;
	}

	&:active,
	&:focus {
		color: $color-white;
		border-color: $color-premium-secondary;
		background: $color-premium-secondary;
	}
}

.button--partner {
	color: $color-partner;
	border: solid 2px $color-partner;

	&:hover {
		border-color: $color-partner;
		background: $color-partner;
	}

	&:active,
	&:focus {
		border-color: $color-partner-light;
		background: $color-partner-light;
	}
}

.button--white {
	color: $color-white;
	border: solid 2px $color-white;

	&:hover {
		border-color: $color-white;
		color: $color-primary;
		background: $color-white;
	}

	&:active,
	&:focus {
		color: $color-primary;
		border-color: $color-white;
		background: $color-white;
	}

	&.button--clean {
		border: solid 2px transparent;
		color: $color-white;

		&:hover {
			border-color: $color-white;
			color: $color-white;
		}

		&:active,
		&:focus {
			color: $color-primary;
			border-color: $color-white;
			background: $color-white;
		}
	}
}

.button--premium {
	border: 2px solid transparent;
	border-image: $color-premium;
	border-image-slice: 1;
	@include text-gradient-premium;
	@include icon-premium-primary;

	&:hover {
		-webkit-background-clip: unset;
		-webkit-text-fill-color: inherit;
		color: $color-white;
		background: $color-premium;
		@include icon-white;
	}

	&:active,
	&:focus {
		background: $color-premium;
		color: $color-white;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: inherit;
		@include icon-white;
	}

	&.button--logo {
		&:before {
			content: url('/images/premium-logo.svg');
			display: inline-block;
			width: 5.2em;
			height: auto;
		}

		&:hover,
		&:active,
		&:focus {
			&:before {
				content: url('/images/premium-logo-white.svg');
			}
		}

		&.button--solid {
			&:before {
				content: url('/images/premium-logo-white.svg');
			}
		}
	}

	&.button--solid {
		color: $color-white;
		background: $color-premium;
		-webkit-background-clip: unset;
		-webkit-text-fill-color: inherit;
		border-image-slice: 0;

		&:hover,
		&:active,
		&:focus {
			border-color: transparent;
		}
	}
}

.button--grey {
	color: $color-grey-dark;
	border: solid 2px $color-grey-dark;

	&:hover {
		border-color: $color-grey-dark;
		background: $color-grey-dark;
	}

	&:active,
	&:focus {
		border-color: $color-black;
		background: $color-black;
	}
}

.button--small {
	padding: .6em .75em;
	font-size: 0.7em;

	@include tablet {
		font-size: 0.8em;
	}
}

.button--big {	
	padding: 1em 1.5em;
	font-size: 1em;
}

.button--center {
	position: relative;
	left: $percent-1of2;
	transform: translateX(-50%);
}

.button--right {
	margin: -1.5em auto 1.5em 0;
	position: relative;
	float: right;
}

.button--space {
	margin-right: 0.5em;
}

.button--arrow {
	@include align-self(flex-start);
	vertical-align: middle;

	i {
		transition: font-size .2s;
		font-size: .75em;
		margin-left: .25em;
		vertical-align: middle;
	}

	&:hover {
		i {
			font-size: 1.05em;
		}
	}
}

.button--clean {
	border: 0;
	padding-left: 0.5em;
	padding-right: 0.5em;

	&:hover {
		background: transparent;
		color: inherit;
	}

	&:active,
	&:focus {
		background: transparent;
		color: inherit;
	}
}

.buttonContainer {
	&:after {
		content: '';
		display: block;
		clear: both;
	}
}