body {
	height: 100vh;

	&:before {
		display: none;
	}

	@include tablet {
		@include flex;
		@include flex-flow(row nowrap);
		@include justify-content(space-between);
		@include align-items(flex-start);

		&:before {
			content: 'tablet';
		}
	}

	@include tablet-landscape {
		&:before {
			content: 'tablet-landscape';
		}
	}

	@include desktop {
		&:before {
			content: 'desktop';
		}
	}
}

#page {
	height: 100%;
	overflow-y: auto;
	background: $color-grey;

	&:focus {
		outline: 0;
		border: 0;
	}
}

#content {
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(space-between);
	@include align-items(stretch);
	overflow: hidden;
	position: relative;

	@include desktop {
		@include flex-flow(row nowrap);
	}
}
