.grid {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	justify-content: flex-start;
	margin-left: -1.5em;
}

.grid-cell {
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 1.5em;
	width: 100%;
}

.grid-cell--wide {
	width: 100%;
}

.grid--articles {
	.grid-cell {
		width: 100%;

		@include tablet {
			width: $percent-1of2;
		}
	}

	.grid-cell--wide {
		width: 100%;
	}
}

.grid--themes {
	margin-top: 1em;
	margin-bottom: 1em;

	@include tablet {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	
	.grid-cell {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;

		@include tablet {
			width: $percent-1of2;

			&:nth-of-type(odd):last-of-type {
				width: 100%;
			}
		}

		@include tablet-landscape {
			margin-top: 0;
			margin-bottom: 0;
			width: $percent-1of3;
			
			&:nth-of-type(odd):last-of-type {
				width: $percent-1of3;
			}
		}
	}
}