.grid {
	display: -webkit-flex;
	display: -moz-box;
	display: -ms-flexbox;
	@include flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	@include justify-content(flex-start);
	margin-left: -1.5em;
}

.grid-cell {
	@include flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
	padding-left: 1.5em;
	width: 100%;
}

.grid-cell--wide {
	width: 100%;
}

.grid--events {
	margin-bottom: 3em;

	.grid-cell {
		width: 100%;

		@include tablet {
			width: $percent-1of2;
		}
	}

	.grid-cell--wide {
		width: 100%;
	}
}

.grid--articles {

	.grid-cell {
		width: 100%;

		@include tablet {
			width: $percent-1of2;
		}
	}

	.grid-cell--wide {
		width: 100%;
	}
}

.grid--categories {
	margin-top: 1em;
	margin-bottom: 1em;

	@include tablet {
		margin-top: 3em;
		margin-bottom: 3em;
	}
	
	.grid-cell {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;

		@include tablet {
			width: $percent-1of2;

			&:nth-of-type(odd):last-of-type {
				width: 100%;
			}
		}

		@include tablet-landscape {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
}

.grid--subjects {
	@include justify-content(center);

	@include tablet {
		margin-top: 1em;
		margin-bottom: 1em;
	}
	
	.grid-cell {
		width: 100%;
		margin-top: 1em;
		margin-bottom: 1em;

		&:nth-of-type(even) {
			background: $color-black-opage;
			margin-right: -1.5em;
			padding-right: 1.5em;
			padding-top: 1.5em;
			padding-bottom: 1.5em;
			width: calc(100% + 3em);
		}

		@include tablet {
			width: $percent-1of2;

			&:nth-of-type(even) {
				background: transparent;
				width: $percent-1of2;
				margin-right: inherit;
				padding-right: inherit;
				padding-top: inherit;
			}
		}

		@include tablet-landscape {
			margin-top: 0;
			margin-bottom: 0;
			width: $percent-1of3;

			&:nth-of-type(even) {
				width: $percent-1of3;
			}
		}
	}
}

.grid--partners {

	.grid-cell {
		width: 100%;

		@include tablet {
			width: $percent-1of2;
		}
	}

	.grid-cell--wide {
		width: 100%;
	}
}

.grid--mobile-6 {

	.grid-cell {
		width: $percent-1of2;
	}

	.grid-cell--wide {
		width: 100%;
	}
}

.grid--mobile-12 {

	.grid-cell {
		width: 100%;
	}

	.grid-cell--wide {
		width: 100%;
	}
}

.grid--tablet-3 {
	@include tablet {
		.grid-cell {
			width: $percent-1of4;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tablet-4 {
	@include tablet {
		.grid-cell {
			width: $percent-1of3;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tablet-6 {
	@include tablet {
		.grid-cell {
			width: $percent-1of2;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tablet-12 {
	@include tablet {
		.grid-cell {
			width: 100%;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tabletlandscape-3 {
	@include tablet-landscape {
		.grid-cell {
			width: $percent-1of4;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tabletlandscape-4 {
	@include tablet-landscape {
		.grid-cell {
			width: $percent-1of3;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tabletlandscape-6 {
	@include tablet-landscape {
		.grid-cell {
			width: $percent-1of2;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--tabletlandscape-12 {
	@include tablet-landscape {
		.grid-cell {
			width: 100%;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--desktop-3 {
	@include desktop {
		.grid-cell {
			width: $percent-1of4;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--desktop-4 {
	@include desktop {
		.grid-cell {
			width: $percent-1of3;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--desktop-6 {
	@include desktop {
		.grid-cell {
			width: $percent-1of2;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}

.grid--desktop-12 {
	@include desktop {
		.grid-cell {
			width: 100%;
		}

		.grid-cell--wide {
			width: 100%;
		}
	}
}