#header {
	box-shadow: inset 0 8px 0 -4px $color-primary;
	left: 0;
	top: 0;
	@include flex-grow(0);
	@include flex-shrink(0);
	font-weight: 500;
	width: 100%;
	position: fixed;
	z-index: 3;

	@include tablet-landscape {
		bottom: 0;
		height: 100%;
		width: 240px;
		box-shadow: none;
		position: relative;

		&.minimum {

			.logo {
				padding-left: 2em;
				padding-right: 2em;
			}

			.logo-image {
				display: none;
			}
			.logo-image-s {
				width: 100%;
				display: block;
			}

			.nav {
				overflow: visible;
			}

			.nav-head {
				padding-top: 2em;
			}

			.menu-link {
				.fa {
					width: 100%;
					margin-right: 0;
					font-size: 1.6em;
				}
			}

			.menu-label {
				display: none;
			}

			.search-field {
				width: 100%;
				opacity: 0;
				transition: width .5s, opacity .2s;
				padding: 1em 0 1em calc(100% + 1em);

				&:focus,
				&:active {
					width: calc(100vw - 100% - 4rem);
					opacity: 1;
					background: $color-white;
					box-shadow: none;
					color: $color-black;
					font-size: 2em;
					box-shadow: 0 2px 9px $color-black-opage;
					left: calc(100% + 2rem);
					position: absolute;
					padding: 1em 1.5em;
					z-index: 1;
				}
			}

			.search-submit {
				width: 100%;
				font-size: 1.2em;
			}
		}
	}

	@include desktop {
		width: 240px;
	}
}

#header.ui-resizable.ui-resizable-autohide {
	display: block;

	@include desktop {
		display: auto;
	}
}

#header .ui-resizable-e {
	&:active,
	&:focus,
	&:hover {
		background-color: rgba(0, 0, 0, 0.2);		
	}

	@include tablet {
		display: block !important;
		width: 0.9rem;
		
		&.pulse {
			display: block;
			animation: pulseBackground 2s cubic-bezier(.25,.8,.25,1) infinite;
		}
	}

	@include desktop {
		display: inherit;
		width: 0.5rem;
	}
}

.header-resize-tip {
	display: none;
	position: absolute;
	font-size: 2.5em;
	top: calc(50% - 1em);
	right: -0.4em;
	color: $color-primary-light;
	z-index: 91;
	pointer-events: none;

	@include desktop {
		font-size: 2em;
	}

	&.pulse {
		@include tablet {
			display: block;
			animation: pulseOpacity 2s cubic-bezier(.25,.8,.25,1) infinite;
		}
	}
}

.head-container {
	@include flex;
	@include justify-content(space-between);
	padding: 1.5em 1.5em 1.2em;
	@include align-items(center);

	@include tablet-landscape {
		display: none;
	}
}

.head-container--mobile {
	background-color: $color-grey-light;
}

.logo {
	width: 100%;
	max-width: 160px;
}

.logo--desktop {
	display: none;
	padding: 0 2.5em 1em 2em;
	max-width: 340px;

	@include tablet-landscape {
		display: block;
	}		
}

.logo-image {
	display: none; 

	@include mobile-small {
		width: 100%;
		display: block;
	}
}

.logo-image-s {
	max-height: 48px;
	display: block;
	filter: invert(0.1);

	@include mobile-small {
		display: none;
		filter: invert(1);
	}
}

.navToggle-placeholder {
	width: 48px;
	height: 48px;
	margin-left: 2em;
	@include flex-grow(0);
	@include flex-shrink(0);
}

.navToggle {
	@include align-items(center);
	background-color: $color-primary;
	border: 0;
	@include circle-border;
	@include flex;
	@include justify-content(center);
	width: 48px;
	height: 48px;
	right: 1.5rem;
	top: 1.5rem;
	line-height: 1;
	font-size: 24px;
	color: $color-white;
	padding: 0;
	outline: 0;
	@include flex-grow(0);
	@include flex-shrink(0);
	position: fixed;
	z-index: 4;

	&:hover
	&:active {
		background-color: $color-primary-dark;
	}

	&.open {
		background-color: $color-primary-dark;
	}

	@include tablet-landscape {
		display: none;
	}
}

.shareToggle {
	background-color: $color-secondary;
	@include flex;
	@include justify-content(center);
	@include align-items(center);
	width: 48px;
	height: 48px;
	border: 0;
	right: calc(1rem + 48px + 1.5rem);
	top: 1.5rem;
	line-height: 2.4;
	font-size: 20px;
	color: $color-white;
	cursor: pointer;
	padding: 0;
	outline: 0;
	@include flex-grow(0);
	@include flex-shrink(0);
	@include circle-border;
	position: fixed;
	z-index: 4;

	&:hover,
	&:active {
		background-color: $color-secondary-dark;
	}

	&.open {
		background-color: $color-secondary-dark;
	}

	@include tablet-landscape {
		display: none;
	}
}

.nav {
	@include use-gpu;
	position: fixed;
	margin: 1em;
	padding: 0.5em;
	border-radius: 50vw;
	background-color: $color-primary;
	@include flex;
	@include flex-flow(row wrap);
	@include flex-flow(column nowrap);
	@include justify-content(space-between);
	height: 0;
	width: 0;
	top: 1.5em;
	right: 1.5em;
	left: auto;
	overflow-x: hidden;
	overflow-y: hidden;
	z-index: 3;
	transition: 
		width .35s, 
		height .3s, 
		border-radius .2s, 
		top .15s,
		right .15s;

	&.open {
		top: 0;
		right: 0;
		border-radius: .75em;
		height: calc(100% - 2em);
		width: calc(100% - 2em);
		max-width: 35em;

		.nav-head {
			opacity: 1;
		}

		.nav-footer {
			opacity: 1;
			@include flex-grow(1);
		}
	}

	@include tablet-landscape {
		@include leave-gpu;
		margin: 0;
		padding: 0;
		position: relative;
		box-shadow: none;
		border-radius: 0;
		@include flex-flow(column nowrap);
		border-radius: 0;
		height: 100%;
		width: auto;
		top: 0;
		right: 0;

		&.open {
			border-radius: 0;
			height: 100%;
			width: auto;
			max-width: none;

			.nav-footer {
				@include flex-grow(0);
			}
		}

		* {
			opacity: 1;
		}
	}
}

.nav-head {
	padding: 0;
	width: 100%;
	opacity: 0;
	transition: opacity .2s;

	@include tablet {
		opacity: 1;
		transition: none;
	}

	@include tablet-landscape {
		padding: 4em 0 0;
	}
}

.nav-footer {
	width: 100%;
	@include flex;
	flex-flow: column;
	@include justify-content(space-between);
	opacity: 0;
	transition: opacity .2s;

	@include tablet-landscape {
		display: block;
		opacity: 1;
		transition: none;
	}
}

.menu {
	list-style: none;
	padding: 0;
	margin: 0;
	width: 100%;
	@include flex;
	flex-flow: row wrap;
	@include justify-content(space-between);

	@include tablet-landscape {
		display: block;
	}
}

.menu-item {
	position: relative;
	width: $percent-1of2;

	@include tablet-landscape {
		width: 100%;
	}
}

.current-menu-item {
	.menu-link {
		background-color: $color-white-opage;
	}
}

#header.minimum .menu-item {
	// Hover tooltip
	&:hover,
	&:active,
	&:focus {
		&:before {
			content: attr(hint);
			position: absolute;
			left: calc(100% + 1em);
			top: $percent-1of2;
			transform: translateY(-50%);
			background: $color-black;
			@include round-border;
			color: $color-white;
			z-index: 10;
			padding: 0.5em 0.75em;
			text-align: center;
			font-weight: bold;
			font-size: 0.75em;
			text-transform: uppercase;
			word-break: keep-all;
		}
	}
}

.menu-link {
	cursor: pointer;
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(flex-start);
	@include align-items(center);
	padding: 1em 2em;
	margin: 0.5em;
	border-radius: .25em;
	color: $color-white;
	font-size: 0.75em;
	position: relative;
	text-decoration: none;
	text-transform: uppercase;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-black-opage;
		color: $color-white;
	}

	@include tablet-landscape {
		@include flex-flow(row nowrap);
		font-size: 0.9em;
	}

	.fa {
		margin-bottom: 0.5em;
		font-size: 1.6em;
		text-align: center;

		@include tablet-landscape {
			margin-right: 1em;
			margin-bottom: 0;
			width: $percent-1of10;
			font-size: 1.4em;
		}
	}
}

.menu-link-notification {
	background: $color-primary-light;
	border-radius: 100%;
	color: $color-primary;
	font-size: 0.85em;
	font-weight: bold;
	height: 22px;
	line-height: 22px;
	overflow: hidden;
	position: absolute;
	right: 1em;
	top: $percent-1of2;
	margin-top: -11px;
	text-align: center;
	text-transform: uppercase;
	width: 22px;
}

.menu-label {
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	letter-spacing: 0.03em;
	font-weight: 600;
}

.menu--premium {
	background: $color-premium;
	margin: 0 -0.5em -0.5em;
	position: relative;
	width: auto;

	@include tablet-landscape {
		width: 100%;
		margin: 0;
	}

	.menu-item {
		width: 100%;
	}

	.menu-link {
		@include flex;
		@include flex-flow(row nowrap);
		@include justify-content(flex-start);
		@include align-items(center);
		margin: 0;
		padding: 2em 1em;

		.fa {
			width: 45px;
			margin-right: 0.3em;
			margin-bottom: 0;

			@include tablet-landscape {
				width: $percent-1of10;
				margin-right: 1em;
			}
		}

		@include tablet-landscape {
			padding: 1.5em 2.5em;
		}
	}

	.menu-label {
		letter-spacing: 0.03em;
		font-weight: 600;
	}

	.menu-label-image {
		height: 1.15em;
		width: auto;
	}
}