#main {
	padding: 1em 1.5em 0;
	background: $color-grey-light;
	position: relative;

	@include tablet {
		padding: 4em 5vw 0;
		@include flex-shrink(1);
		@include flex-grow(1);
	}

	@include desktop {
		padding: 4em 5vw 2em;
		border-bottom-right-radius: 1.2em;
	}
}