#main {
	padding: 1em 1.5em 0;
	background: $color-grey-light;
	position: relative;

	@include tablet {
		padding: 4em 5vw 0;
		@include flex-shrink(1);
		@include flex-grow(1);
	}

	@include desktop {
		padding: 4em 5vw 2em;
		border-bottom-right-radius: 1.2em;
	}
}

.main-title {
	margin: 0.5em 0 1em;
    font-size: 1.85em;
    font-family: $font-gotham;
    @include order(-2);

    @include tablet {
        font-size: 2.6em;
        @include order(0);
    }

    @include desktop {
        font-size: 3em;
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}

.main-intro {
    font-family: $font-kepler;
    margin: -1rem -1.5rem 0 -1.5rem;
    padding: 1.5rem;
    font-size: 1.25em;
    line-height: 1.6;
    @include order(0);
    
    @include tablet {
        color: $color-black;
        margin: -1.5rem 0 2em 0;
        padding: 0;
        font-size: 1.5em;
        @include order(0);
    }

    @include desktop {
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }

    p {
        font-family: $font-kepler;
        font-size: 1em;
        margin-bottom: 1em;
        line-height: 1.6;
    }
}

.main-body {

    @include desktop {
        width: 100%;
        max-width: 70rem;
        padding-left: 4rem;
        padding-right: 4rem;
        margin-left: auto;
        margin-right: auto;
    }

    h2 {
        color: $color-secondary;
        font-family: $font-gotham;
        font-size: 1.6em;
        line-height: 1.25;
        margin: 2.3em 0 0.7em;

        @include desktop {
            font-size: 1.8em;
        }
    }

    p {
        @include tablet {
            font-size: 1.05em;
        }

        @include desktop {
            font-size: 1.1em; 
        }
    }

    .figure {
        margin-left: -1.5em;
        margin-right: -1.5em;
        margin-top: 3em;
        margin-bottom: 3em;

        @include tablet {
            margin-left: -5vw;
            margin-right: -5vw;
        }
    }
}