.panel {
    padding: 2em;
    background: $color-white;
    font-family: $font-opensans;
    margin-bottom: 2em;
    border-radius: 0.25em;
    overflow: hidden;
}

.panel__title {
    font-size: 1em;
    font-weight: bold;
    line-height: 1.25;
    margin: 0 0 1em;

    @include tablet {
        font-size: 1.25em;
    }
}

.panel__title--primary {
    color: $color-primary;
}

.panel__title--secondary {
    color: $color-secondary;
}

.panel__title--tertiary {
    color: $color-tertiary;
}

.panel__title--partner {
    color: $color-partner;
}

.panel--primary {
    background: $color-primary;

    .panel__title {
        color: $color-white;
    }
}

.panel--secondary {
    background: $color-secondary;

    .panel__title {
        color: $color-white;
    }
}

.panel--tertiary {
    background: $color-tertiary;

    .panel__title {
        color: $color-white;
    }
}

.panel--clean {
    padding: 0;
    background: transparent;
    border-radius: 0;
    overflow: visible;

    .panel__title {
        font-size: 1em;
        margin: 3em 0 1em 0;
    }
}

.panel--headed {
    .panel__title {
        position: relative;
        padding: 2em 2em 1em 2em;
        margin: -2em -2em 1em -2em;
        background: $color-primary;
        color: $color-white;
        text-shadow: 0 0.05em 0.3em $color-black-opage;
        z-index: 0;
    }

    .panel__title-image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        float: left;
        width: 100%;
        height: 100%;
        object-fit: cover;
        opacity: 0.7;
    }

    &.panel--headed-overflow {
        .panel__title {
            padding-bottom: 4em;
            margin-bottom: -4em;
        }
    }

    &.panel--headed-big {
        .panel__title {
            padding-top: 5em;
        }
    }

    &.panel--headed-primary {
        .panel__title {
            background: $color-primary;
        }
    }

    &.panel--headed-secondary {
        .panel__title {
            background: $color-secondary;
        }
    }

    &.panel--headed-tertiary {
        .panel__title {
            background: $color-tertiary;
        }
    }
}

.panel--mobilefloat {
    bottom: 0;
    @include shadow-medium;
    max-height: 500px;
    max-height: 50vh;
    left: 0;
    margin: 0;
    overflow: visible;
    padding: 1.5em;
    position: fixed;
    right: 0;
    transition: all 1.2s cubic-bezier(.25,.8,.25,1);
    transform: translateY(100%);
    width: 100%;
    z-index: 2;
    @include flex;
    @include flex-flow(row nowrap);

    @include tablet-landscape {
        @include round-border;
        bottom: auto;
        @include shadow-none;
        position: static;
        margin-bottom: 2em;
        max-height: none;
        overflow: hidden;
        padding: 2em;
        transition: none;
        transform: none;
        width: auto;
    }

    &.visible {
        transform: translateY(0%);
    }

    .panel__title {
        width: 100%;
    }

    .panel__body {
        display: block;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        max-height: 4em;
        line-height: 1.35;
        text-overflow: ellipsis;
        margin-bottom: 1em;
        overflow: hidden;

        @include tablet-landscape {
            text-overflow: visible;
            display: block;
            -webkit-line-clamp: none;
            max-height: none;
        }
    }

    .panel__figure {
        height: 100%;
        padding-right: 1em;
        margin: 0;
        width: $percent-1of5;
    }

    .panel__content {
        width: $percent-4of5;
    }
}

.panel__toggle {
    background: $color-grey;
    border-top-left-radius: 34px;
    border-top-right-radius: 34px;
    @include flex;
    @include justify-content(center);
    @include align-items(flex-start);
    left: 0;
    margin: 0 auto;
    padding: 12px;
    position: absolute;
    right: 0;
    top: 0;
    transform: translateY(-98%);
    height: 34px;
    width: 60px;

    @include tablet-landscape {
        display: none;
    }
}

.panel__title-icon {
    margin-right: 1em;
}

.panel__figure {
    z-index: 1;
    position: relative;
    margin: 1em 0;
}

.panel__content-image {
    width: 50%;
    max-width: 8em;
    float: right;
    margin-left: 0.5em;
    margin-bottom: 0.5em;
}