.article {
	display: none;
	@include flex-flow(column nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	margin: 0 -1.5em 1.5em;
	padding: 0 1.5em 0;

	&:first-of-type {
		@include flex;
	}

	@include tablet-landscape {
		@include flex;

		&:before {
			content: '';
			display: block;
			background-color: $color-grey;
			height: 2em;
			margin: 0 -5vw 4em;
		}

		&:first-of-type {

			&:before {
				display: none;
			}
		}
	}
}

.article--premium {

	.article-intro {
		background: $color-premium;
	}

	@include tablet {

		.article-intro {
			background: inherit;
		}

		.article-hero {
			&:before {
				content: '';
				display: block;
				position: absolute;
				height: 0.75em;
				width: 100%;
				background: $color-premium;
				z-index: 1;
			}
		}
	}
}

.article-tags {
	display: none;

	@include tablet {
		display: block;
	}

	@include desktop {
		width: 100%;
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.article-header {
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
}

.article-title {
	margin-top: 1em;
	margin-bottom: 1em;
	font-size: 1.85em;
	font-family: $font-gotham;

	@include tablet {
		margin-bottom: 0.5em;
		font-size: 2.6em;
		@include order(0);
	}

	@include desktop {
		font-size: 3em;
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
	}

}

.article-intro {
	background: $color-primary;
	color: $color-white;
	font-family: $font-kepler;
	margin: -1rem -1.5rem 0 -1.5rem;
	padding: 1.5rem;
	font-size: 1.25em;
	line-height: 1.6;
	@include order(-2);
	
	@include tablet {
		background: transparent;
		color: $color-black;
		margin: 1em 0;
		padding: 0;
		font-size: 1.5em;
		@include order(0);
	}

	@include desktop {
		max-width: 45rem;
		margin-left: auto;
		margin-right: auto;
	}
}

.article-hero {
	@include order(1);

	&.figure {
		margin: 0 -1.5em 1.5em;
	}

	@include tablet {
		@include order(0);

		&.figure {
			margin-top: 1em;
			margin-bottom: 0;
			margin-left: -5vw;
			margin-right: -5vw;
		}
	}

	.figure-credit {
		@include tablet {
			bottom: 5.5em;
		}
	}
}

.article-info {
	@include flex;
	@include flex-flow(column nowrap);
	@include order(0);
	margin: 0 -1.5rem;
	font-size: .85em;

	@include tablet {
		margin: 0 -5vw 0 0;
		width: auto;
		@include flex-flow(row nowrap);
		transform: translateY(-100%);
		z-index: 1;
	}
}

.article-content {
	h2 {
		color: $color-secondary;
		font-family: $font-gotham;
		font-size: 1.4em;
		line-height: 1.25;
		margin: 2.3em 0 0.7em;
	}

	ul,
	ol {
		margin-top: 0;
		font-family: $font-opensans;
		line-height: 1.75;
		font-size: 1.05em;
		margin-bottom: 2em;
		font-weight: normal;

		a {
			font-weight: 500;
		}

		@include desktop {
			font-size: 1.1em; 
		}
	}

	p {
		@include desktop {
			font-size: 1.1em; 
		}
	}
	
	h2,
	h3, 
	p,
	ol,
	ul,
	blockquote {
		@include desktop {
			width: 100%;
			max-width: 45rem;
			margin-left: auto;
			margin-right: auto;
		}
	}

	.figure {
		margin-left: -1.5em;
		margin-right: -1.5em;
		margin-top: 3em;
		margin-bottom: 3em;

		@include tablet {
			margin-left: -5vw;
			margin-right: -5vw;
		}
	}
}

.article-quote {
	border-right: solid 4px $color-secondary;
	color: $color-secondary;
	font-family: $font-kepler;
	font-weight: bold;
	font-size: 1.5em;
	margin: 0em 0 1em 0;
	padding: 0.5em 1em;
	text-align: right;

	&:before {
		content: '\201C';
	}

	&:after {
		content: '\201D';
	}

	@include tablet {
		padding-left: 25%;
		font-size: 1.75em;
	}
}

.article-footer {
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(flex-end);
	@include align-items(flex-end);
	margin: 0;
	font-size: .85em;

	@include tablet {
		margin: 0 -1.5rem;
		width: auto;
		@include flex-flow(row nowrap);
		z-index: 1;
	}
}