.articleAuthor {
	background: $color-black;
	padding: 1rem 1.5rem;
	position: relative;

	@include tablet {
		padding: 0.5rem 0.75rem;
		@include flex-grow(1);
	}
}

.articleAuthor--bottom {
	float: right;

	@include tablet {
		@include flex-grow(0);
		@include flex-shrink(0);
		margin: 1em 0;
		max-width: $percent-3of4;
		padding: 1rem 1.5rem;
	}

	.articleAuthor-link {
		margin-bottom: 2em;
	}

	.articleAuthor-image {
		height: 6em;

		@include tablet {
			height: 4em;
		}
	}

	.articleAuthor-name {
		&:before {
			content: 'Geschreven door:';
			display: block;
			font-weight: normal;
			font-size: 0.9em;
			color: $color-grey-dark;
		}
	}

	.articleAuthor-social {
		text-align: center;
	}

	.articleAuthor-expand {
		top: auto;
		bottom: 100%;
		box-shadow: none;
		border-top: 0;
		border-bottom: solid 1px $color-grey-dark;
	}
}

.articleAuthor-content {
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(space-between);
	@include align-items(flex-start);
	color: $color-white;

	p {
		color: $color-white;
	}
}

.articleAuthor-summary {
	@include flex;
	@include justify-content(space-between);
	@include align-items(center);
	color: $color-white;
	cursor: pointer;
}

.articleAuthor-link {
	@include flex;
	@include justify-content(space-between);
	@include align-items(center);
	color: $color-white;
	text-decoration: none;
	font-weight: 500;

	&:active,
	&:hover {
		color: $color-white;

		.articleAuthor-image {
			transform: scale(1.05);
		}
	}
}

.articleAuthor-toggle {
	padding: 1em;
	border-radius: 100%;
	cursor: pointer;

	&:active,
	&:hover {
		background: $color-black-opage;
	}
}

.articleAuthor-image {
	@include circle-border;
	overflow: hidden;
	margin-right: 1.5em;
	height: 3em;
	transition: all .2s;
}

.articleAuthor-name {
	font-weight: 600;
}

.articleAuthor-company {
	font-weight: normal;
	font-size: 0.8em;
	display: none;
	line-height: 1.3;
	margin-left: 1.5em;
	opacity: 0.5;

	@include tablet {
		display: block;
	}
}

.articleAuthor-expand {
	display: none;
	background: $color-black;
	border-top: solid 1px $color-black;
	position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    width: 100%;    
	padding: 1rem 1.5rem;
	color: $color-white;

	p {
		color: $color-white;
		margin-bottom: 1em;
		z-index: 1;
		position: relative;
	}

	&.open {
		@include shadow-medium;
	}
}

.articleAuthor-sociallink {
	margin-right: 0.5em;
	margin-bottom: 0.5em;

	&:hover {
		color: $color-black !important;
	}

	.fa {
		margin-right: 0.35em;
		font-size: 1.5em;
		vertical-align: text-bottom;
	}
}