.articleMeta {
	background: $color-grey;
	@include flex;
	@include justify-content(space-between);
	@include align-items(center);
	padding: 1rem 1.5rem;
	color: $color-grey-dark;
	@include order(0);

	@include tablet {
		padding: 0.5rem 1.5rem;
		@include flex-grow(1);
		@include order(1);
		font-size: 0.9em;
		background: $color-grey-light;
	}
}

.articleMeta-readtime {
	font-weight: bold;
	
	&:before {
		font-weight: normal;
		content: "Leestijd: ";
	}
}