.articleFilter {
	width: 100%;
	text-align: right;
	margin-bottom: 1.5em;

	@include tablet {
		margin-bottom: 2em;
	}
}

.articleFilter-button {
	display: inline-block;
	margin-left: 0.5em;

	@include tablet {
		margin-left: 1em;
	}
}

.articleFilter-label {
	font-weight: 500;
	color: $color-grey-dark;
	display: block;
	margin: 0 0 0.75em;

	@include tablet {
		display: inline-block;
		margin: 0;
	}
}