.breadcrumb {
    color: $color-black-opage;
    font-weight: bold;
    font-size: 0.8em;
    margin-bottom: 0.5em;
    margin-top: -1rem;
    @include order(-3);

    a {
        color: $color-black-opage;
        text-decoration: none;

        &:hover,
        &:active,
        &:focus {
            color: $color-black;

            &:after {
                color: $color-black-opage;
            }
        }

        &:after {
            content: '>';
            margin: 0 0.5em 0 0.75em;
        }

        &:last-of-type {
            &:after {
                display: none;
            }
        }
    }

    @include tablet {
        margin-top: 0;
        font-size: 1em;
    }

    @include desktop {
        margin-bottom: 0.5em;
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;
        padding-left: 4rem;
        padding-right: 4rem;
    }
}