.card {
	@include use-gpu;
	text-decoration: none;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	@include flex;
	@include flex-flow(column nowrap);
	@include flex-grow(1);
	margin-bottom: 1.5em;
	position: relative;
	@include shadow-low;
	@include round-border;

	@include tablet {
		margin-bottom: 3em;
	}

	&:hover {
		@include shadow-medium;

		.card-image {
			transform: scale(1.02);
		}

		.card-button i {
			font-size: 1.05em;
		}
	}
}

.card-figurecontainer {
	background: $color-grey;
	overflow: hidden;
	position: relative;
}

.card-figure {
	height: 100%;
	position: relative;
}

.card-image {
	float: left;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform .3s ease;

	&:after {
		content: ' ';
		display: block;
		clear: both;
	}
}

.card-tags {
	position: absolute;
	bottom: 0.75em;
	z-index: 2;
	right: 0.75em;
	text-align: right;

	@include tablet {
		right: 1em;
		bottom: 1em;
	}
}

.card-tag {
	background: rgba(0,0,0,.1);
	border: 1px solid $color-white;
	color: $color-white;
	display: inline-block;
	font-size: .6rem;
	font-weight: bold;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	line-height: 1;
	padding: 0.45em 0.6em;
	margin-left: 0.5em;

	@include tablet {
		font-size: .7rem;
	}
}

.card-tag--premium {
	//border-color: $color-premium;
	//color: $color-premium;
}

.card-tag--partner {
	// border-color: $color-secondary;
	// color: $color-secondary;
}

.card-heading {
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.8em;
}

.card-title {
	margin: 0 0 .25em 0;
	color: $color-black;
	font-family: $font-gotham;
}

.card-content {
	background-color: $color-white;
	@include flex;
	@include flex-flow(column nowrap);
	@include flex-grow(1);
	padding: 1.5em;
	text-align: left;
}

.card-excerpt {
	display: block;
	margin-bottom: 0;
	margin-top: .3em;
	font-size: .9em;
	line-height: 1.5;
	overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	max-height: 6em;
}

.card-button {
	@include align-self(flex-end);
	margin-top: auto;
	width: 100%;
	padding-top: 1em;
	text-decoration: none;
	color: $color-primary;
	font-weight: bold;
	font-size: 0.9em;
	vertical-align: middle;

	@include tablet {
		margin-left: auto;
		width: auto;
		font-size: inherit;
	}

	i {
		transition: font-size .2s;
		font-size: .75em;
		margin-left: .25em;
		vertical-align: middle;
	}
}

.card--hero {
	.card-title {
		@include tablet {
			font-size: 1.85em;
		}
	}

	&.card--horizontal {
		.card-figurecontainer {
			width: $percent-1of3;

			@include tablet {
				width: $percent-1of2;
			}
		}

		.card-content {
			width: $percent-2of3;

			@include tablet {
				width: $percent-1of2;
			}
		}
	}
}

.card--horizontal {
	@include flex-flow(row nowrap);

	.card-figurecontainer {
		width: $percent-1of3;
	}

	.card-content {
		@include flex-grow(1);
		width: $percent-2of3;
	}
}

.card--m-vertical,
.card--m-vertical.card--hero,
.card--m-vertical.card--horizontal.card--textfirst {
	@media (max-width: #{$mobile-width}) {
		@include flex-flow(inherit);

		.card-figurecontainer {
			width: inherit;
		}

		.card-content {
			@include flex-grow(1);
			width: inherit;
			-webkit-box-ordinal-group: inherit;
			-moz-box-ordinal-group: inherit;
			-webkit-order: inherit;
			-ms-flex-order: inherit;
			order: inherit;
		}
	}
}

.card--overlay {
	@include tablet {
		position: relative;

		.card-figurecontainer {
			width: 100%;
			@include gradient-overlay;
		}

		.card-content {
			@include flex-grow(1);
			width: 100%;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background: transparent;
			z-index: 1;
		}

		.card-title {
			color: $color-white;
		}

		.card-excerpt {
			color: $color-white;
		}

		.card-button {
			color: $color-white;
		}
	}
}

.card--textfirst {
	&.card--horizontal {
		@include tablet {
			.card-content {
				@include order(-1);
			}
		}
	}
}

.card--premium {
	&:before {
		content: '';
		display: block;
		position: absolute;
		height: 3px;
		width: 100%;
		background: $color-premium;
		z-index: 1;
	}

	.card-button {
		@include text-gradient-premium;
		@include icon-premium-secondary;
	}

	.card-figure {
		@include overlay-gradient-premium;
	}
}

.card--partner {
	border-top: solid 3px $color-partner;
	
	.card-button {
		color: $color-partner;
	}

	.card-title {
		color: $color-black;
		margin-bottom: 0;
		margin-top: 0.5em;
	}

	.card-heading {
		color: $color-partner;
	}
}

.card--event {

	.card-title {
		color: $color-black;
		margin-bottom: 0;
		margin-top: 0.5em;
	}

	.card-button {
		color: $color-secondary;
	}

	.card-heading {
		color: $color-secondary;
	}
}