.codeBlock {
    background: #000000;
    @include round-border;
    color: $color-grey-light;
    margin-bottom: 3em;
    margin-top: -0.5em;
    overflow: hidden;
	padding: 2em;
	width: 100%;

	.prettyprint {
		float: left;
    	overflow: hidden;
        white-space: pre-wrap;
        width: 100%;
	}
}

code {
    color: $color-primary;
    font-size: 1.2em;

    &.prettyprint {
        font-size: 1.1em;
    }
}