.eventCard {
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	@include round-border;

	&:hover,
	&:active,
	&:focus {
		@include shadow-medium;
	}
}

.eventCard--partner {

	.eventCard__heading {
		color: $color-partner;
	}

	.eventCard__date {
		background: $color-partner;
	}
}

.eventCard--minimal {
	&:not(:last-of-type) {
		margin-bottom: 1em;
	}
}

.eventCard__link {
	background: $color-white;
	display: block;
	text-decoration: none;
	@include flex;
	@include flex-flow(row nowrap);
	@include justify-content(space-between);
	@include align-items(stretch);
}

.eventCard__description {
	padding: 1.5em 2em;
	width: $percent-3of4;
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(stretch);
}

.eventCard__heading {
	color: $color-secondary;
	text-transform: uppercase;
	letter-spacing: 0.05em;
	font-size: 0.8em;
}

.eventCard__title {
	text-transform: uppercase;
	color: $color-black;
	font-style: normal;
	font-weight: bold;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.eventCard__date {
	@include flex;
	@include align-items(center);
	@include justify-content(center);
	background: $color-secondary;
	color: $color-white;
	padding: 1em;
	text-align: center;
	text-transform: uppercase;
	font-family: $font-gotham;
	font-size: 0.8em;
	font-weight: 500;
	width: $percent-1of4;
	@include flex-grow(1);
	vertical-align: middle;
	@include flex-shrink(1);
}
