.gridHeader {
	width: 100%;
	text-align: right;
	margin-bottom: 1.5em;

	@include tablet {
		margin-bottom: 2em;
	}
}

.gridHeader-button {
	display: inline-block;
	margin-left: 0.5em;

	@include tablet {
		margin-left: 1em;
	}
}

.gridHeader-label {
	display: none;
	font-weight: 600;
	font-size: 0.8em;
	color: $color-grey-dark;
	margin: 0 0 0.75em;

	@include tablet {
		display: inline-block;
		margin: 0;
	}
}