.investmentList {
	padding: 0;
	list-style: none;
	position: relative;
}

.investmentList-item {
	background: $color-white;
	text-decoration: none;
	display: none;
	@include flex-flow(row nowrap);
	@include justify-content(space-between);
	@include align-items(stretch);
	@include round-border;
	transition: all 0.4s cubic-bezier(.25,.8,.25,1);
	@include shadow-low;

	&:hover,
	&:active {
		@include shadow-medium;
	
		.investmentList-logo {
			width: 5.25em;
		}
	}

	&.active {
		@include flex;
	}
}

.investmentList-logo {
	@include flex;
	@include align-items(center);
	@include justify-content(center);
	background: $color-grey-light;
	padding: 0.5em;
	text-align: center;
	width: 5em;
	transition: width 0.4s cubic-bezier(.25,.8,.25,1);
}

.investmentList-description {
	padding: 1.25em 1.75em;
	@include flex;
	@include flex-flow(column nowrap);
	@include flex-grow(1);
	@include flex-shrink(1);
	justify-content: stretch;
}

.investmentList-company {
	color: $color-primary;
	font-weight: 500;
	font-size: 1em;
	margin-bottom: 0;
	text-decoration: none;

	&:hover,
	&:active {
		color: $color-primary;
	}
}

.investmentList-value {
	text-transform: uppercase;
	color: $color-grey-dark;
	font-weight: bold;
	font-size: 2em;
	margin-bottom: 0.25em;
	text-decoration: none;
}

.investmentList-details {
	color: $color-grey-dark;
	font-size: 0.8em;
	text-decoration: none;
	padding: 0.15em 0;

	&:hover,
	&:active {
		color: $color-primary;
	}

	.fa {
		margin-right: 0.5em;
		width: 2em;
		text-align: center;
	}
}