.newsletterTeaser {
	background: url("../images/newsletter-background.jpg") no-repeat 80% center;
	background-size: cover;
	@include flex;
	@include flex-flow(column nowrap);
	@include align-items(stretch);
	padding: 1.5em;
	margin: 1em 0;
	@include round-border;

	@include desktop {
		padding: 1.75em;
	}
}

.newsletterTeaser__cell {
	width: 100%;
	@include flex-grow(1);
	@include flex-shrink(1);
}

.newsletterTeaser__title {
	color: $color-white;
	text-align: center;

	@include tablet {
		margin-right: 2em;
	}
}

.newsletterTeaser__description {
	font-weight: 500;
	font-size: 1em;
	color: $color-white;
	text-align: center;

	@include tablet {
		margin-bottom: 0;
	}
}

.newsletterTeaser__form {
	@include flex;
	position: relative;
	@include flex-flow(row nowrap);
	max-width: 500px;
	margin: 2em auto 1em;
}

.newsletterTeaser__label {
	position: absolute;
	left: 0.75em;
	top: $percent-1of2;
	transform: translateY(-50%);
	color: $color-grey-dark;
}

.newsletterTeaser__field {
	border: 0;
	outline: 0;
	padding: .75em 1em .75em 1em;
	border-radius: 0.3em 0 0 0.3em;
	@include flex-grow(1);
	@include flex-shrink(1);
	min-width: 130px;
	color: $color-black;

	&::placeholder,
	&::-ms-placeholder,
	&::-moz-placeholder,
	&::-webkit-input-placeholder {
		color: $color-grey-dark;
	}
}

.newsletterTeaser__field--icon {
	padding-left: 3em;
}

.newsletterTeaser__field--inverse {
	color: $color-black;
	background-color: $color-grey;

	&::placeholder {
	   color: $color-grey-dark;
	}
}

.newsletterTeaser__submit {
	background-color: $color-newsletter;
	color: $color-white;
	border: 0;
	border-radius: 0 0.3em 0.3em 0;
	cursor: pointer;
	display: inline-block;
	font-size: .85em;
	font-weight: bold;
	outline: 0;
	padding: .75em 1em;
	text-decoration: none;
	text-transform: uppercase;
    white-space: nowrap;
    
	@include tablet {
		font-size: .8em;
	}

	&:focus,
	&:active {
		background-color: $color-primary;
	}

	.fa {
		margin-left: 0.25em;
	}
}