.premiumUnlock {
	display: block;
	position: relative;
	width: 100%;
	margin-bottom: 2em;

	@include desktop {
	    max-width: 70rem;
		padding-left: 4rem;
		padding-right: 4rem;
	    margin-left: auto;
	    margin-right: auto;
		margin-bottom: 0;
	}

	&:before {
		content: '';
		position: absolute;
		display: block;
		top: 0;
		transform: translateY(-100%);
		left: 0;
		right: 0;
		height: 300px;
		height: 50vh;
		background: linear-gradient(to top, $color-grey-light, rgba(242,240,240,0.7), rgba(242,240,240,0));
	}
}

.premiumUnlock-title {
	text-align: center;
	@include text-gradient-premium;
}

.premiumUnlock-actions {
	text-align: center;

	.button {
		margin: 0 1em;
	}
}

.premiumUnlock-description {
	text-align: center;
	margin: 2em 0;

	@include desktop {
		margin-bottom: 0;
	}
}