.relatedArticles {
	background: $color-primary;
	margin: 0 -1.5em 2em;
	padding: 0.75em 1.5em;
}

.relatedArticles-title {
	color: $color-white;

	.button {
		margin-left: 0.5em;
		margin-right: 0.5em;
	}
}