#search {
	background-color: $color-primary-dark;
	position: relative;
	margin: -0.5em -0.5em 0.5em -0.5em;
	padding: 0;
	overflow: visible;

	@include tablet {
		background-color: transparent;
		margin: 0 2em 2em;
	}
}

.search-field {
	border: 0;
	background: transparent;
	padding: 0 0 0 calc(48px + 1.3rem);
	color: $color-white;
	font-size: 1em;
	font-weight: 500;
	width: 100%;
	height: calc(48px + 1rem);
	transition: box-shadow .2s;
	box-shadow: none;

	@include tablet {
		height: auto;
		padding: 1em 0 1em calc(10% + 1.3rem);
	}

	&:focus,
	&:active {
		box-shadow: 0 2px 0 0 $color-white;
		outline: 0;
	}
}

.search-placeholder {
	display: none;
	padding: 1em 0;
	height: auto;
	width: 100%;
	font-size: 1em;
    font-family: $font-opensans;
    font-weight: 500;
    z-index: -1;
    position: relative;
    color: rgba(0,0,0,0);
}

.search-submit {
	position: absolute;
	left: 1em;
	top: $percent-1of2;
	transform: translateY(-50%);
	height: 48px;
	padding: 0;
	text-align: center;
	border: 0;
	border-radius: .5em;
	width: 48px;
	outline: 0;
	cursor: pointer;
	background: transparent;
	color: $color-white;

	&:focus,
	&:active {
		background-color: $color-primary;
	}

	@include tablet {
		left: 0;
		width: $percent-1of10;
		height: 100%;
		top: 0;
		transform: translateY(0);
		user-select: none;
		pointer-events: none;
	}

	.fa {
		font-size: 1.4em;
		text-align: center;
	}
}

.search-resultscontainer {
	width: 0;
	position: absolute;
	padding: 1em 1.5em;
	background: $color-grey-light;
	box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
	left: 100%;
	top: 0;
	transition: width 0.7s;
	display: none;

	&.open {		
		width: calc(100vw - 100%);
	}

	.grid-cell {
		max-width: 300px;
	}
}
