.shareList {
	@include align-items(stretch);
	@include flex;
	flex-flow: row wrap;
	@include justify-content(space-between);
	list-style: none;
	margin: 0;
	padding: 0;
	width: 100%;
}

.shareList--modal {
	padding-top: calc(55px + 0.5em);
}

.shareList--row {
	flex-flow: row wrap;
	@include justify-content(flex-start);

	.shareList-item {
		width: auto;
	}

	.shareList-link .fa {
		width: calc(1rem + 24px);
		font-size: 1.25em;
	}

	.shareList-label {
		padding: 0.5rem 1em;
	}

	&.shareList--small {
		.shareList-link .fa {
			width: calc(1rem + 16px);
		}
	}
}

.shareList--center {
	@include justify-content(center);
}

.shareList--right {
	@include justify-content(flex-end);
}

.shareList--small {
	.shareList-label {
		display: none;
		padding: 0.65em 0.85em;
		font-weight: bold;
	}
}

.shareList-item {
	width: 100%;

	@include tablet {
		width: $percent-1of2;
	}
}

.shareList-link {
	@include align-items(stretch);
	background: transparent;
	color: $color-white;
	cursor: pointer;
	@include flex;
	justify-content: stretch;
	margin: 8px;
	overflow: hidden;
	@include round-border;
	border: solid 0.1rem $color-white;
	text-decoration: none;

	&:hover,
	&:active,
	&:focus {
		background-color: $color-white;
		color: $color-secondary;
	}

	.fa {
		@include align-items(center);
		background-color: $color-white;
		color: $color-secondary;
		@include flex;
		font-size: 1.5em;
		@include justify-content(center);
		text-align: center;
		width: 3rem;
	}

	@include tablet-landscape {
		border-color: $color-grey-dark;
		color: $color-grey-dark;

		&:hover,
		&:active,
		&:focus {
			background-color: $color-grey-dark;
			color: $color-white;
		}

		.fa {
			background-color: $color-grey-dark;
			color: $color-white;
		}
	}
}

.shareList-link--whatsapp {
	.fa {
		color: $color-whatsapp;
	}

	@include tablet-landscape {
		color: $color-whatsapp;
		border-color: $color-whatsapp;

		&:hover,
		&:active,
		&:focus {
			background-color: $color-whatsapp;
		}

		.fa {
			color: $color-white;
			background-color: $color-whatsapp;
		}
	}
}

.shareList-link--facebook {
	.fa {
		color: $color-facebook;
	}

	@include tablet-landscape {
		color: $color-facebook;
		border-color: $color-facebook;

		&:hover,
		&:active,
		&:focus {
			background-color: $color-facebook;
		}
		.fa {
			color: $color-white;
			background-color: $color-facebook;
		}
	}
}

.shareList-link--linkedin {
	.fa {
		color: $color-linkedin;
	}

	@include tablet-landscape {
		color: $color-linkedin;
		border-color: $color-linkedin;

		&:hover,
		&:active,
		&:focus {
			background-color: $color-linkedin;
		}
		.fa {
			color: $color-white;
			background-color: $color-linkedin;
		}
	}
}

.shareList-link--twitter {
	.fa {
		color: $color-twitter;
	}

	@include tablet-landscape {
		color: $color-twitter;
		border-color: $color-twitter;

		&:hover,
		&:active,
		&:focus {
			background-color: $color-twitter;
		}
		.fa {
			color: $color-white;
			background-color: $color-twitter;
		}
	}
}

.shareList-link--mail {
	.fa {
		color: $color-mail;
	}

	@include tablet-landscape {
		color: $color-mail;
		border-color: $color-mail;

		&:hover,
		&:active,
		&:focus {
			background-color: $color-mail;
		}
		.fa {
			color: $color-white;
			background-color: $color-mail;
		}
	}
}

.shareList-label {
	display: block;
	@include flex-grow(1);
	padding: 1em;
	font-weight: bold;
}