.shareActions {
	display: none;
	overflow: hidden;
	margin-left: 1.5rem;
	margin-right: 1rem;

	@include tablet-landscape {
		display: block;
		margin-top: 1rem;
		margin-bottom: 0.5rem;
	}
}

.shareActions--wide {
	@include desktop {
		width: 100%;
		max-width: 70rem;
		padding-left: 4rem;
		padding-right: 4rem;
		margin-left: auto;
		margin-right: auto;
	}
}