.topic {
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);
	margin: 0 -1.5em 1.5em;
	padding: 0 1.5em 0;
}

.topic--extensive {

	.topic-header {
		background: $color-secondary;
		padding: 1.5em;
		margin-top: 1em;
		margin-right: -1.5em;
		margin-bottom: 0;
		margin-left: -1.5em;
		max-width: none;
		width: auto;

		@include tablet {
			@include align-items(center);
			@include round-border;
			@include flex-flow(row wrap);
			@include justify-content(space-between);
		}
	}

	.topic-description {
		@include tablet {
			padding-right: 1rem;
			width: $percent-1of2;
		}
	}

	.topic-title {
		color: $color-white;
		margin-top: 0;
		margin-bottom: 0.25em;

		@include tablet-landscape {
			margin-top: 0;
			line-height: 1em;
		}
	}
	
	.topic-intro {
		color: $color-white;
		margin-bottom: 0;
		
		@include tablet {
			margin-top: 0.5em;
			margin-bottom: 0;
		}
	}
}

.topic-header {
	@include flex;
	@include flex-flow(column nowrap);
	@include justify-content(flex-start);
	@include align-items(stretch);

	@include desktop {
        margin-left: auto;
        margin-right: auto;
        max-width: 70rem;
        padding-left: 4rem;
        padding-right: 4rem;
	}
}

.topic-title {
	margin: 0.5em 0 1em;
    font-size: 1.85em;
    font-family: $font-gotham;
    @include order(-2);

    @include tablet {
        font-size: 2.6em;
        @include order(0);
    }

    @include desktop {
        font-size: 3em;
    }
}

.topic-intro {
    font-family: $font-kepler;
    margin: -1rem -1.5rem 0 -1.5rem;
    padding: 1.5rem;
    font-size: 1.25em;
    line-height: 1.6;
    @include order(0);
    
    @include tablet {
        color: $color-black;
        margin: -1.5rem 0 2em 0;
        padding: 0;
        font-size: 1.5em;
        @include order(0);
    }

    p {
        font-family: $font-kepler;
        font-size: 1em;
        margin-bottom: 1em;
        line-height: 1.6;
    }

    code {
        font-size: 1.1em;
    }
}

.topic-spotlight {
	margin-top: 0.5em;

	@include tablet {
		margin-top: 0;
		padding-left: 1rem;
		width: $percent-1of2;
	}

	.card {
		margin-bottom: 0;
	}
}

.topic-subtitle {
	font-size: 1.25em;
	margin-bottom: 1.5em;
	margin-left: 0;
	margin-right: 0;
	margin-top: 3em;
}

.topic-subjects {
	background: $color-secondary;
	margin-bottom: 3em;
	margin-left: -1.5em;
	margin-right: -1.5em;
	margin-top: 1em;
	padding: 1.5em;
	width: auto;
	
	@include tablet {
		@include round-border;
	}
}